<template>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel pannel-default">
                <div class="pannel-body">
                    <div class="form-group">
                        <input v-model="email" class="form-control" type="email" placeholder="email">
                    </div>
                    <div class="form-group">
                        <input v-model="password" class="form-control" type="password" placeholder="password">
                    </div>
                    <button @click="test" class="btn btn-success pull-right">
                            login
                        </button>
    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                email: '',
                password: ''
            }
        },
        methods: {
            test() {
                this.$http.get("http://localhost:8000/api/test")
                    .then(function(response) {
                        console.log(response)
                    })
            }
        }
    }
</script>

<style>
    
</style>
 
 