<template>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel pannel-default">
                <div class="pannel-body">
                    <div class="form-group">
                        <input v-model="name" class="form-control" type="text" placeholder="name">
                    </div>
                    <div class="form-group">
                        <input v-model="email" class="form-control" type="email" placeholder="email">
                    </div>
                     <div class="form-group">
                        <input v-model="password" class="form-control" type="password" placeholder="password">
                    </div>
                    <button class="btn btn-success pull-right">
                        Register
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                email:'',
                password:'',
                name: ''
            }
        }
    }
</script>

<style>
    
</style>
 
 